/*=========================================================
                  featurse css
=========================================================*/
#features-area{
 margin-top:2%;
}
#features-area p{
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	color: $font_color;
}
#features-area h3{
	text-align: center;
}
.features-bg{
	height: 500px;
	overflow: hidden;
	margin: 5%;

}
.features-bg img{
	width: 100%;
	text-align: center;
	margin: 31% 0;
}
.features-boxes{
	margin-top:20%;
}
 
.features-single-box{
	width: 49%;
	margin-bottom: 5%;
	display: inline-block; 	 
}
.features-single-box i{
	font-size:3em;
	color: $pray_color;
	margin-bottom: 5%;
}
.features-single-box h4{
	font-size: 22px;
	color: $pray_color;
	margin-bottom: 5%;
}
.features-single-box p{
	font-size: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
.features-bg img {
    margin: 71% 0;
}
.plan-content {
    margin: 55% 0;
}

}
@media only screen and (max-width: 767px) {


#features-area p {
	font-size: 12px;
}
.features-bg {
    height: 377px;
    overflow: hidden;
    margin: 5%;
}
}