 #header-area{
  
 }
 
 .logo p{
 	font-weight: 500;
 	padding: 10px 8px;
 	background: $pray_color;
 	border-radius: 50%;
 }
 .navbar-toggler{
 	background: $pray_color;
 }
 #navigation{
 	

 	li{
 		display: inline-block;

 		a{
 			color: #A4AAB5;
 			display: block;
 			font-weight: 500;
 			margin-left: 15px;
 			font-size: 15px;

 			 &:hover{
 				color: $pray_color;
                                
 			 }
 			}
        .signIn{
        	 
        	padding: 8px 25px;
        	 
        	border-radius: 20px;
                &:hover{
                                color: $pray_color;
                                color:#ffffff;
                         }
        }
@media only screen and (max-width: 991px) {
	.signIn{
		display: inline-block;
                &:hover{
                color:#ffffff;
                }
	}
}
 			 
 	}
 }
