#sreenshort{
 margin-top:10%; 
}
#sreenshort p{
	color: $font_color;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 1%;
	font-weight: 400;
}
#sreenshort h3{
	text-align: center;
 
}
.sreenshort-wrapper{
	display: flex;
	margin:5% 0;
}
.single-bg{
	width: 20%;
	display: inline-block;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
#sreenshort {
    margin-top: 7%;
}

}