  #slider-area{

 }
 .slider-contenTs{
 	 
 }
 .slider-contents{
 	 
 }
 
 .slider-content a{
  
  
 	margin-right: 10%;
 }

 .slider-content h2{
 	margin-top: 80px;
 	font-size: 50px;
 
 }
 .slider-content p{
 	margin-top:30px;
 	margin-bottom: 30px;
 	color: $font_color;
 	width: 95%;
 }
.slider-m-btn{
  
 }
 .slider-n-btn{
  
 }
 .slider-bg{
   margin-top:65px;
 	height: 600px;
 	overflow: hidden;
 }
 .slider-bg img{
   width: 70%;
 } 